@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

body {
  background-image: url("/assets/background_image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #454545;
  background-position: center;
  background-attachment: fixed;

  font-family: 'Roboto Slab', serif;
  color: var(--text-color);
}

/* styles */

:root {
  --text-color: black;
  --text-color-light: white;
}

/* layout */

#page-container {
  margin: 352px 0 70px 0;
}

#page-inner-container {
  margin: 0 396px 0 193px;

  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: stretch;
}

#toc-container {
  padding: 10px;
  min-width: 287px;
  margin-top: 30px;
  margin-right: 8px;
}

#toc-inner-container {
  width: 100%;
  position: sticky;
  top: 20px;
  text-shadow: 0 0 20px black;
}

#content-container {
  flex-grow: 1;
  padding: 1px 15px;

  background-color: white;
  box-shadow: 0 7px 29px black;

  width: available;
  max-width: 1800px;
  min-height: 300px;
}

@media screen and (max-width: 1800px) {
  #page-inner-container {
    margin: 0 10px;
  }

  #page-container {
    margin-bottom: 15px;
  }
}

/* header */

h1.header {
  font-family: 'Playfair Display', serif;
  font-size: 32px;
  font-weight: lighter;
  color: white;
}

h1#header-std {
  display: inline;
  position: relative;
  bottom: -9px;

  padding-right: 30px;
}

h1#header-std::after {
  content: '';
  position: absolute;
  box-shadow: 0 0 20px 30px black;
  z-index: -10;
  width: calc(100% - 30px);
  height: 100%;
  left: 18px;
  top: 80%;
  opacity: 20%;
}

h1#header-mobile {
  display: none;
}

/* table of contents */

.toc-entry {
  width: available;
  text-align: right;
  padding: 5px 0 5px 20px;
}

.toc-entry a {
  text-decoration: none;
  color: var(--text-color-light);
}

.toc-divider {
  height: 0;
  border-top: 1px solid var(--text-color-light);
  margin: 5px 0;
}

.toc-entry-activated-indicator {
  font-weight: bolder;

  color: rgba(0, 0, 0, 0);
}
.toc-entry-activated-indicator.activated {
  color: inherit;
}

/* reduced */

#toc-reduced {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 30px;
}

/* MOBILE */

#toc-reduced {
  display: none;
}

.toc-entry-activated-indicator.left {
  display: none;
}

@media screen and (max-width: 1100px) {
  #page-container {
    margin-top: 10px;
  }

  h1#header-std {
    display: none;
  }
  h1#header-mobile {
    display: block;
  }

  #page-inner-container {
    flex-direction: column;
  }

  .toc-entry {
    text-align: left;
    padding: 5px;
  }

  #toc-reduced {
    display: flex;
  }

  #toc-container {
    margin: initial;
  }

  #toc-inner-container:not(.expanded) {
    display: none;
  }

  .toc-entry-activated-indicator.left {
    display: inherit;
  }
  .toc-entry-activated-indicator.right {
    display: none;
  }
}

/* ----- pages ----- */

blockquote {
  border-left: 2px darkgray solid;
  margin-left: 10px;
  padding: 5px 10px;
}

#content-container a:link, #content-container a:hover, #content-container a:active, #content-container a:visited {
  color: black;
  text-decoration: underline #0366d6 solid;
  text-decoration-thickness: 2px;
  transition: text-decoration 1s ease;
}

#content-container a:hover {
  text-decoration: none;
}
