<ng-container *ngFor="let child of children">

  <ng-container [ngSwitch]="child.type">

    <!-- Emphasis -->
    <em *ngSwitchCase="'emphasis'" [md-inline]="child"></em>

    <!-- Strong -->
    <strong *ngSwitchCase="'strong'" [md-inline]="child"></strong>

    <!-- Plain text -->
    <ng-container *ngSwitchCase="'text'">{{ child.value }}</ng-container>

    <!-- Line Break -->
    <br *ngSwitchCase="'break'" />

    <!-- Link -->
    <a *ngSwitchCase="'link'" [href]="child.url" (click)="navigate($event, child.url)" [md-inline]="child"></a>

    <!-- Image (-> app-image) -->
    <app-image *ngSwitchCase="'image'" [src]="child.url"></app-image>

  </ng-container>

</ng-container>
