<ng-container *ngFor="let child of children">

  <ng-container [ngSwitch]="child.type">

    <!-- Headings -->
    <ng-container *ngSwitchCase="'heading'">
      <h1 *ngIf="child.depth === 1" [md-inline]="asMdPhrasingContent(child)"></h1>
      <h2 *ngIf="child.depth === 2" [md-inline]="asMdPhrasingContent(child)"></h2>
      <h3 *ngIf="child.depth === 3" [md-inline]="asMdPhrasingContent(child)"></h3>
      <h4 *ngIf="child.depth === 4" [md-inline]="asMdPhrasingContent(child)"></h4>
      <h5 *ngIf="child.depth === 5" [md-inline]="asMdPhrasingContent(child)"></h5>
      <h6 *ngIf="child.depth === 6" [md-inline]="asMdPhrasingContent(child)"></h6>
    </ng-container>

    <!-- Paragraph -->
    <p *ngSwitchCase="'paragraph'" [md-inline]="asMdPhrasingContent(child)"></p>

    <!-- Lists -->
    <ng-container *ngSwitchCase="'list'">
      <ol *ngIf="child.ordered" [start]="child.start">
        <li *ngFor="let item of child.children" [md-block]="item"></li>
      </ol>
      <ul *ngIf="!child.ordered">
        <li *ngFor="let item of child.children" [md-block]="item"></li>
      </ul>
    </ng-container>

    <!-- Blockquotes -->
    <blockquote *ngSwitchCase="'blockquote'" [md-block]="child"></blockquote>

    <!-- Horizontal Rule -->
    <hr *ngSwitchCase="'thematicBreak'"/>

  </ng-container>

</ng-container>
