$grey: #d3d3d3;

.blockquote {
  display: flex;
  flex-direction: row;

  .blockquote-bar {
    flex: 0 0 5px;
    margin-right: 15px;
    background-color: $grey;
    border-radius: 100vw;
  }
}

hr {
  border: 1px solid $grey;
}
