<div id="page-container">

  <div id="page-inner-container">

    <h1 class="header" id="header-mobile">Mährisch und Böhmisch Wiesen im Schönhengstgau</h1>

    <div id="toc-container" *ngIf="(pageStructure | async) as pageStructure">
      <div id="toc-reduced" (click)="toggleExpandToc()">
        <span style="color: white">
          <ng-container *ngIf="!expandToc">{{getActivatedPageTitle() | async}}</ng-container>
        </span>
        <img *ngIf="expandToc" src="/assets/toc_buttons/toc_button_reduce.svg" height="16">
        <img *ngIf="!expandToc" src="/assets/toc_buttons/toc_button_expand.svg" height="16">
      </div>
      <div id="toc-inner-container" [class.expanded]="expandToc">
        <div *ngFor="let section of pageStructure" class="toc-section">
          <div *ngFor="let page of section" class="toc-entry">
            <a [routerLink]="page.id.split('/')">
              <span class="toc-entry-activated-indicator left" [class.activated]="isPageActivated(page.id) | async">·</span>
              {{page.title}}
              <span class="toc-entry-activated-indicator right" [class.activated]="isPageActivated(page.id) | async">·</span>
            </a>
          </div>
          <div class="toc-divider" *ngIf="pageStructure.indexOf(section) != pageStructure.length - 1"></div>
        </div>
      </div>
    </div>

    <div id="content-outer-container">
      <h1 class="header" id="header-std">Mährisch und Böhmisch Wiesen im Schönhengstgau</h1>
      <div id="content-container">
        <router-outlet></router-outlet>
      </div>
    </div>

  </div>

</div>
