#container {
  display: inline-block;
  padding-right: 10px;
}

img {
  max-height: 300px;
  max-width: 100%;

  cursor: pointer;

  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 40%) 0 0 8px;

  &:hover {
    box-shadow: rgba(0, 0, 0, 70%) 0 0 8px;
  }
}

#title {
  max-width: 100%;
  font-size: 80%;
}

#description-indicator {
  text-shadow: 0 0 2px rgba(0, 0, 0, 1);
}
